<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css">
    <title>Database</title>
<style>
    
	*{
        
        margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.3px;
    }
    body{
        background: #8c82ae;
    }
    .productholder{
        display: flex;
        flex-wrap: wrap;
        align-items: center;;
    }

.profilearea{
    padding: 30px ;
}
.card{
    box-shadow: 0 0 30px rgba(0, 0,0,0.5);
    overflow: hidden;
    border-radius: 15px;
    background: white;
    width: 300px;
}
.img{
    height: 200px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
    background: #ddd9ec;
}
.img1 img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 7px solid #ffff;
    margin-top: -80px;

}
.card:hover .img1 img{
    border-color:  rgb(155, 89, 147);
    transition: 0.7s;
}
.maintext{
    padding: 10px 0;
    text-align:  center;
}
.maintext h2{
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 20px;
    margin:0 0 10px;
    margin-top: -10px;
}
.maintext h4{
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 18px;
    margin:0 0 10px;
    margin-top: -10px;
}
.maintext h5{
    color: #343338;
    text-align: left;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    margin:0 0 10px;
    margin-left: 80px;
}
.maintext p{
    font-size: 16px;
    padding: 0 30px;
}
</style>
</head>
<body>
  <div class="productholder">
        <%if(data.length > 0){
    
        data.forEach(function(data){
     %>
   <div class="profilearea">
                <div class="card">
                    <div class="img"></div>
                    <div class="img1"><img src="<%=data.imgpath%>" alt=""></div>
                    <div class="maintext">
                    <h2><%= data.customerID %></h2>
                    <h4><%= data.FIRSTname %>&nbsp<%= data.LASTName %></h4>
                    <h5><li><%= data.dept %></li></h5>
                    <h5><li><%= data.Address %></li></h5>
                    <h5><li><%= data.City %></li></h5>
                </div>        
            </div>
    </div>
    <%
                                });
                            }
                            %>
  </div>
   
</body>
</html>