<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <img src="../images/<%=data[0].imgpath%>" alt="">
    <h1><%=data[0].workerid%></h1>
    <h1><%=data[0].workerfname%></h1>
    <h1><%=data[0].workerlname%></h1>
    <h1><%=data[0].email%></h1>
    <h1><%=data[0].cnic%></h1>
    <h1><%=data[0].workerpos%></h1>
    <h1><%=data[0].workerphone%></h1>
    <h1><%=data[0].workerexperience%></h1>
    <h1><%=data[0].workercareerlevel%></h1>
    <h1><%=data[0].workerdesc%></h1>
    <h1><%=data[0].workerfax%></h1>
</body>
</html>